# Adapted from the scikit-learn setup
jobs:
- template: ci/azure/windows.yml
  parameters:
    name: Windows
    vmImage: vs2017-win2016
    matrix:
      py37_64:
        PYTHON_VERSION: '3.7'
        PYTHON_ARCH: '64'
      py36_64:
        PYTHON_VERSION: '3.6'
        PYTHON_ARCH: '64'
      py35_64:
        PYTHON_VERSION: '3.5'
        PYTHON_ARCH: '64'
